bg-image($url)
  background-image url($url+"@2x.png")
  @media only screen and (-webkit-device-pixel-ratio: 3)
    background-image url($url+"@3x.png")

one-px($color){
  position: relative;
  &:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: $color;
    position: absolute;
    bottom: 0;
    transform: scaleY(.5);
    @media only screen and (-webkit-device-pixel-ratio: 3){
      transform: scaleY(.33333333);
    }
  }
}
